body{
    background-color: rgba(255, 221, 0, 0.082);
}
h1{
    text-align: center;
}
#ini{
    text-align: center;
}
#ini button{
    color: brown;
    padding: 5px;
}

#quiz {
    display: none;
}

#resultado {
    text-align: center;
    display: none;
}

fieldset {
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
}

button {
    margin-top: 10px;
}
